[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
fastapi = {extras = ["standard"], version = "*"}
sqlmodel = "*"
alembic = "*"
asyncpg = "*"
argon2-cffi = "*"
psycopg = {extras = ["pool", "binary"], version = "*"}
greenlet = "*"
pydantic-settings = "*"
loguru = "*"
redis = "*"
celery = "*"
flower = "*"
redisbeat = "*"
jsonpickle = "*"
fastapi-mail = "*"
aiosmtplib = "*"
email-validator = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.13"
